<ul class="adv">
  <li>欢迎加入<a href="https://oriente.com/" target="_blank">Oriente</a>前端组，<a href="https://www.lagou.com/jobs/4927018.html?source=pl&i=pl-3" target="_blank">岗位信息</a></li>
  <li>同时也欢迎光顾我的小店<a href="http://aimianwu.com" target="_blank">爱眠物</a></li>
</ul>