<!-- <div class="adv"> -->
<!-- <ul>
    <li class="img"><img src="/images/give-a-reward.png" alt="reward" /></li>
    <li>
      欢迎加入<a href="https://oriente.com/" target="_blank">Oriente</a
      >前端组，<a
        href="https://www.lagou.com/jobs/4927018.html?source=pl&i=pl-3"
        target="_blank"
        >岗位信息</a
      >
    </li>
    <li>
      同时也欢迎光顾我的小店<a href="http://aimianwu.com" target="_blank"
        >爱眠物</a
      >
    </li>
  </ul> -->
<!-- 
  <script
    async
    src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"
  ></script> -->

<!-- 尾部广告 -->
<!-- <ins
    class="adsbygoogle"
    style="display: block"
    data-ad-client="ca-pub-6006630417531788"
    data-ad-slot="2988625841"
    data-ad-format="auto"
    data-full-width-responsive="true"
  ></ins>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
  </script> -->
<!-- </div> -->
